/* CSS styles for the pickleball training website */

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #64B0A7;
  }
  
  header {
    background-color: #FEA639; 
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  .header-image {
    max-width: 250px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 10px;
  }
  
  h2 {
    margin-bottom: 10px;
  }

  
  .approach-section {
    text-align: center;
    padding: 10px 0;
        margin-bottom: -25px; /* Adjust the margin-bottom value to your preference */ 
  }
  
  .approach-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .approach-image img {
    max-width: 300px;
    height: auto;
  }
  
  .approach-header {
    font-size: 29px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .approach-text p {
    text-align: justify;
  }
  
  .approach-image {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .approach-text {
    flex: 1;
  }
  


  .image-grid {
      
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-grid li {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    margin: -5px; /* Adjust the values as needed */
    transform: translateX(-8px); /* Adjust the value as needed */
  }
  
  .image-grid img {
    width: 240px !important;
  border-radius: 5px;
  margin-bottom: 10px;
  }
  
  .image-grid p {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    text-align: left;
  }
  
  footer {
    background-color: #FEA639;
    padding: 20px;
    text-align: center;
  }
  
  .contact-section {
    text-align: center;
    margin-top: 40px; /* Adjust the margin as needed */
  }
  